@charset "UTF-8";
/* CSS Document */

* {
	margin:0;
	padding:0;
	font-family: Arial,Helvetica,sans-serif;
	font-weight: 100;
	font-size: 24px;
	line-height: 32px;
	background-color: black;
	color:white;
	box-sizing:border-box;
}

/* body*/
body{
	max-width: 1264px;
	margin:auto;
}

/* nav */
#nav {
	font-size: 18px;
	margin:30px 20px;
}

#nav a{
	margin-right:20px;
	
}

/* link animation */
a {
	position: relative;
	color:white;
	padding: 0.1em 0;
	text-decoration: none;
}

a:hover {
  color: white;
}

a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: -5px;
  left: 0;
  background-color: white;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

a:hover::before {
  transform: scaleX(1);
}

/* containers */
.text-container{
	margin:80px 20px 50px 20px;
	width: 80%;
}

.img-container{
	margin:50px 20px;
}

.video-container {
	position: relative; 
	padding-bottom: 56.25%; 
	padding-top: 30px; 
	height: 0; 
	overflow: hidden;
	margin:10px 20px;
}

.video-container iframe {
	position: absolute; 
	top: 0; 
	left: 0; 
	width: 100%; 
	height: 100%; 
}

/* fonts */
h1{
	font-size: 3.8rem;
	line-height: 4rem;
}
h2{
	font-size: 2rem;
	line-height: 2.3rem;
}
h3{
	font-size: 1.5rem;
	line-height: 1.8rem;
}

h4{
	font-size: .9rem;
	line-height: 1.2rem;
	padding-bottom: 10px;
	
}

h5{
	font-size: 1rem;
	line-height: 1.3rem;
	padding-bottom: 10px;
	
}
/* columns */
.row:after {
	content: "";
	display: table;
	clear: both;
	margin-bottom:50px;
  }

.col-2{
	width:50%;
	padding-right:50px;
	float: left;
}
.col-0{
	width:70%;
	float: left;
}


/* text animation */
.text-animation {
	white-space: nowrap;
	overflow: hidden;
	width: 100%;
	animation: animtext 2s steps(80, end); 
	transition: all cubic-bezier(0.1, 0.7, 1.0, 0.1);
}

@keyframes animtext { 
  from {
      width: 0;
	  transition: all 2s ease-in-out;
  } 
}


/* fade-in animation */
.fade-in{
	opacity: 0;
	transition:  400ms ease-in;
	transform: translateX(20px);
}

.fade-in.appear{
	opacity:1;
	transform: translateX(0px);
}


/* table */
table {
	border-collapse:collapse;
	float:right;
	clear: both;
}
th, td{
	padding-right:30px;
	text-align:left;
	vertical-align: top;
}
td{
	color:#999;
}


.clearfix{
	clear: both;

}


/* footer */
footer{
	margin:100px 20px 20px 20px;
	clear:both;
}

footer p a::before {
	background-color: #FFE268;
	
}

/* small screens */
@media screen and (max-width: 1112px){
	.col-2{
		width:100%;
	}
	.col-0{
		width:100%;
	}
	table{
		margin-top:20px;
	}
	.text-container{
		width: 90%;
		margin:30px 20px;
	}
	
}
@media screen and (max-width: 768px){
	#nav{
		font-size: 16px;
	}
	h1{
		font-size: 3rem;
		line-height:3.5rem;
	}
	h2{
		font-size: 1.5rem;
		line-height: 1.8rem;
	}
	h3{
		font-size: 1rem;
		line-height: 1.3rem;
	}
	h4{
		font-size: .8rem;
		line-height: 1rem;
	}
	h5{
		font-size: .9rem;
		line-height: 1rem;
	}
	p{
		font-size:18px;
		line-height: 24px;
	}
	.video-container iframe {
		width: 100%; 
		height: 100%; 
	}
}

@media screen and (max-width: 530px){
	*{
		font-size: 16px;
	}
	h1{
		font-size: 3rem;
		line-height:3.5rem;
	}
	h2{
		font-size: 1.5rem;
		line-height: 1.8rem;
	}
	h3{
		font-size: 1rem;
		line-height: 1.4rem;
	}
	h4{
		font-size: .8rem;
		line-height: 1rem;
	}
	h5{
		font-size: .9rem;
		line-height: 1rem;
	}
	p{
		font-size: 18px;
		line-height: 24px;
	}
	table {
		float:left;
		margin-right:-10%;
	}
	th, td{
		padding-right:15px;
		
	}
	.text-container{
		width: 90%;
		margin:20px 20px;
	}

}

/* */
header {
	margin: 50px 20px;
	height: 2.5em;
	overflow: hidden;
	width: 100%;
  }
  
  ul,
  li {
	height: 13.5em;
	margin: 0px;
	padding: 0px;
	width: 100%;
  }
  
  li {
	list-style-type: none;
	margin: 0;
	height: 1em !important;
	padding: 0px 0px;
	font-size: 2.5em;
	text-transform: uppercase;
	width: 100%;
  }
  
  .t {
	animation-name: titleflip;
	animation: titleflip 6s ease-in-out infinite;
	  }
  
  @-webkit-keyframes titleflip {
	0%, 17% {
	transform: translate(0px, -12em);
	}
	17%, 34% {
   transform: translate(0px, -9.5em);
	}
	34%, 51% {
	transform: translate(0px, -7em);
	}
	51%, 68% {
	transform: translate(0px, -4.5em);
	}
	68%, 85% {
	transform: translate(0px, -2em);
	}
	85%, 100% {
	transform: translate(0px, 0.5em);
	}
	100%, 0% {
	transform: translate(0px, -13em);
	}
  }