@charset "UTF-8";
/* CSS Document */

* {
	margin:0;
	padding:0;
	font-family: Helvetica, sans-serif;
	font-weight: 300;
	font-size: 24px;
	line-height: 32px;
	background-color: black;
	color:white;
	box-sizing:border-box;
}

/* body*/
body{
	max-width: 1264px;
	margin:auto;
}


/* nav */
#nav {
	font-size: 18px;
	margin:30px 20px;
}
  li {
	display: inline;
	height:200px;
  }
  
  li a {
	text-transform: capitalize;
  }

/* a - link animation */
a.text-link {
	position: relative;
	color:white;
	padding: 0.1em 0;
	text-decoration: none;
	border: none;
}

a.text-link:hover {
  color: white;
}
	
a.text-link::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: white;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

a.text-link:hover::before {
  transform: scaleX(1);
}

p a.text-link::before {
	background-color: #FFE268;
}

button {
	padding: 8px 40px; 
	margin: 0px 0px 0px 20px;
	border-radius: 100px;
	border-color:#ffff;
	

}

button:hover {
	color:#000000;
	background-color: #FFE268;
	border-color:#FFE268;
}

input[type=password] {
	width: 50%;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
	border: none;
	background-color: #ffffff;
	color: #000000;
  }

/* containers */
.text-container{
	margin:80px 20px 100px 20px;
	width: 80%;
}
.text-container-half{
	margin:80px 20px 100px 20px;
	width: 50%;
}

.img-container{
	margin:80px 20px 100px 20px;
}


/* fonts */
h1{
	font-size: 3.2rem;
	line-height: 3.8rem;
}
h2{
	font-size: 2rem;
	line-height: 2.3rem;
}
h3{
	font-size: 1.5rem;
	line-height: 1.8rem;
}


/* columns */
.row:after {
	content: "";
	display: table;
	clear: both;
	margin-bottom:50px;
  }
.col-1{
	width: 24%;
	padding-right:20px;
	float: left;
}

.col-2{
	width:50%;
	padding-right:50px;
	float: left;
}

.col-3 {
	width: 75%;
	float: left;

}
.col-0{
	width:70%;
	float: left;
}


/* text animation */
.text-animation {
	white-space: nowrap;
	overflow: hidden;
	width: 100%;
	animation: animtext 2s steps(80, end); 
	transition: all cubic-bezier(0.1, 0.7, 1.0, 0.1);
}

@keyframes animtext { 
  from {
      width: 0;
	  transition: all 2s ease-in-out;
  } 
}


/* fade-in animation */
.fade-in{
	opacity: 0;
	transition:  400ms ease-in;
	transform: translateX(20px);
}

.fade-in.appear{
	opacity:1;
	transform: translateX(0px);
}


/* table */
table {
	border-collapse:collapse;
	float:right;
	clear: both;
}
th, td{
	padding-right:30px;
	text-align:left;
	vertical-align: top;
}
td{
	color:#999;
}

.clearfix{
	clear: both;

}


/* footer */
footer{
	margin:150px 20px 20px 20px;
	clear:both;
}

footer p a.text-link::before {
	background-color: #FFE268;
	
}

/* medium screens */
@media screen and (max-width: 1200px){
	* {
		font-size: 21px;
		line-height: 39px;
	}
	h1{
		font-size: 3.3rem;
		line-height:3.5rem;
	}
	h2{
		font-size: 1.8rem;
		line-height: 2rem;
	}
	h3{
		font-size: 1.3rem;
		line-height: 1.5rem;
	}
	p{
		font-size:1rem;
		line-height: 1.3rem;
	}
	td{
		line-height:24px;
	}
}
/* small screens */
@media screen and (max-width: 1112px){
	.col-1{
		width: 21%;
		float: left;
	}
	.col-2{
		width:100%;
	}
	.col-3{
		width: 70%;
		float: left;
	}
	
	.col-0{
		width:100%;
	}
	table{
		margin-top:20px;
	}
	.text-container{
		width: 90%;
		margin:80px 20px;
	}
	.text-container-half{
		width: 65%;
		margin:40px 20px;
	}
	.row:after {
		content: "";
		display: table;
		clear: both;
		margin-bottom:-20px;
	  }

}
@media screen and (max-width: 768px){
	* {
		font-size: 20px;
		line-height: 38px;
	}
	h1{
		font-size: 2.9rem;
		line-height:3.2rem;
	}
	h2{
		font-size: 1.6rem;
		line-height: 1.9rem;
	}
	h3{
		font-size: 1.3rem;
		line-height: 1.5rem;
	}
	.col-1{
		width: 100%;
	}
	.col-2{
		width:100%;
	}
	.col-3{
		width: 100%;
	}
}

@media screen and (max-width: 530px){
	*{
		font-size:18px;
		line-height: 24px;
	}
	h1{
		font-size: 2.5rem;
		line-height:3rem;
	}
	h2{
		font-size: 1.5rem;
		line-height: 1.8rem;
	}
	h3{
		font-size: 1.3rem;
		line-height: 1.6rem;
	}
	table {
		float:right;
		margin-right:-10%;
	}
	th, td{
		padding-right:15px;
		
	}
	td{
		line-height:20px;
	}

}

/* */
header {
	margin: 50px 20px;
	height: 2.5em;
	overflow: hidden;
	width: 100%;
  }
  
  ul,
  li {
	height: 13.5em;
	margin: 0px;
	padding: 0px;
	width: 100%;
  }
  
  li {
	list-style-type: none;
	margin: 0;
	height: 1em !important;
	padding: 0px 0px;
	font-size: 2.5em;
	text-transform: uppercase;
	width: 100%;
  }
  
  .t {
	animation-name: titleflip;
	animation: titleflip 6s ease-in-out infinite;
	  }
  
  @-webkit-keyframes titleflip {
	0%, 17% {
	transform: translate(0px, -12em);
	}
	17%, 34% {
   transform: translate(0px, -9.5em);
	}
	34%, 51% {
	transform: translate(0px, -7em);
	}
	51%, 68% {
	transform: translate(0px, -4.5em);
	}
	68%, 85% {
	transform: translate(0px, -2em);
	}
	85%, 100% {
	transform: translate(0px, 0.5em);
	}
	100%, 0% {
	transform: translate(0px, -13em);
	}
  }

  /*Aside */
  aside {
	margin:20px 20px 20px 20px;
	position:fixed;
    width:25%;
    height:auto;

}